.faq-container{
    text-align: justify;
    width: 100%;
    padding: 80px;
    background-color: #e6e6e6;
}

.faq-container:nth-child(2n){
    background-color: #ffffff;
}

.faq-inner{
    max-width: 1480px;
    margin: 0 auto;
}

.faq-title{
    font-size: 42px;
}

.faq-subtitle{
    font-size: 32px;
    color: #999999;
    font-weight: bold;
}
