.faq-container{
    text-align: justify;
    width: 100%;
    padding: 50px;
    background-color: #e6e6e6;

}

.faq-container:nth-child(2n){
    background-color: #ffffff;
}

.faq-title{
    font-size: 40px;
}

.faq-subtitle{
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
