.infos-profile .about-player{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

@media screen {
    @media screen and (max-width: 520px){
        .infos-profile .about-player{height: 70%;}
    }
}