.banner-carrousel{display: flex; justify-content: center; align-items: center;}

.banner-carrousel{width: 100%; height: auto;}
.banner-carrousel a{width: 100%;}

.kNBmiK, .gcfHef, .icdMYH, .bGztgW{margin: 0  0 10px 0 !important;}

@media screen {
    
    @media screen and (max-width: 768px){
        .jACDzE{
            grid-template-columns: repeat(3,100%) !important;
        }
    }
}