.shop-packs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.pack-titulo{
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 75px;
}
.pack-titulo h2{
    font-size: 4rem;
    color: white;
}

.pack-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70%;

}