.pack-title{
    width: 100%;
    height: 20%;
    text-align: center;
    margin-top: 75px;
}

.pack-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
}