.page-shop{display: flex; flex-direction: column; align-items: center;}
.page-shop .container{max-width: 800px;}

.pagination{display: flex; justify-content: center; align-items: center;}

.pagination{width: 200px; height: 60px; margin-bottom: 10px;}

.pagination button{
    width: 40%;
    height: 100%;
    margin: 10px;
    background: none;
    cursor: pointer;
}

.pagination button:hover{border-bottom: 1px solid #000;}
.pagination button p{font-size: 1.1rem;}

.pagination .page-now{
    width: 25%;
    height: 35px;
    margin: 0 auto;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
}

.pagination .page-now p{text-align: center; height: 100%;}