.products, .product-infos,  .product-image, .product-sets, .product-color, .content-colors, .products-sets, .product-price, .content-button, .cashback{display: flex; justify-content: center; align-items: center;}


.product-infos{width: 100%; height: auto;background-color: #1c2838}
.product-infos .vehicle-info-bd p{font-size: 1.2rem; color: #ffffff !important;}

.product-sets{width: 100%; height: 400px;}

.product-sets .product-color{flex-direction: column; width: 100%; height: 40%; margin-top: 40px;}
.product-sets .product-color h2{font-family: Bebas Neue; font-size: 2rem; font-weight: 300;}
.product-color .content-colors{flex-wrap: wrap; width: 100%; height: auto; min-height: 100px; flex-direction: row;}


/*********************** PRICE ***************************/

.container .product-price{width: 100%; height: 20%; flex-direction: row;}
.container .product-price img{width: 30px; margin-right: 10px;}
.container .product-price p{font-size: 2.4rem; color: #c6bc7f;}

/*********************** PRICE ***************************/
.content-button{width: 100%; height: 20%;}

.cashback{width: 95%; height: 10%; margin-top: 50px ; text-align: center; border-bottom: 1px solid #808080;} 
.cashback p{font-size: 1rem; color: #808080;}

.products{flex-direction: column; width: 100%; height: 500px;}
.products p{width: 100%; margin-top: 30px; font-size: 1.7rem; text-align: center;}

.products .container{flex-wrap: wrap; width: 90%; max-width: 1000px;}

.khvUfi, .eRmJbc{
    width: 25px !important;
    height: 25px !important;
    min-width: 0 !important;
    line-height: 25px !important;
    font-size: 0.8rem !important;
}

/*clases referentes as arrows*/
.khvUfi:hover:enabled, .eRmJbc:hover:enabled,
.khvUfi:focus:enabled, .eRmJbc:focus:enabled{background-color: rgba(128, 128, 128, 0.452) !important;}

.eRmJbc{visibility: hidden !important;}

@media screen {
    @media screen and (max-width: 420px){
        .page-product .products{height: 400px;}
    }
}
