input{
    width: 185px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #009933;
    font-size: 1.7rem;
    color: white;
}

input:hover{
    border: 2px solid black;
}