#level-player{grid-area: level-player;}
#xp-player{grid-area: xp-player;}
#job-player{grid-area: job-player;}
#jail-player{grid-area: jail-player;}
#premium-player{grid-area: premium-player}

.progress-player .progress-cards .card-player{width: 130px; height: 130px; border: 2px solid white;}

.progress-player .progress-cards #premium-player{background-color: #000;}
.progress-player .progress-cards #jail-player{background-color: #8f0a13;}

.progress-player .progress-cards .card-player .card-image{width: 100%; height: 50%;}
#premium-player .card-image{height: 100%;}

.progress-player .progress-cards .card-player .card-text{height: 50%;}

.progress-player .progress-cards .card-player .card-image .image-content{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#level-player .card-image .image-content{background-image: url("../../../../images/icons/lvl.png"); background-size: 30%}
#xp-player .card-image .image-content{background-image: url("../../../../images/icons/xp.png"); background-size: 40%}
#job-player .card-image .image-content{background-image: url("../../../../images/icons/job.png"); background-size: 50%}
#jail-player .card-image .image-content{background-image: url("../../../../images/icons/jail.png"); background-size: 35%}

.progress-player .progress-cards .card-player .card-text p{
    display: flex; 
    justify-content: center;
    font-size: 1.6rem; 
    color: white;
}

#premium-player .card-image .image-content{
    width: 92%;
    height: 100%;
    margin: 0 auto; /*não acredito que isso funcionou*/
    background-image: url("../../../../images/icons/premium.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen {
    @media screen and (max-width: 880px){
        .progress-player .progress-cards .card-player{width: 90px; height: 90px;}
    }
    
    @media screen and (max-width: 520px){
        .progress-player .progress-cards .card-player{ width: 110px; height: 90px;}
        .progress-player .progress-cards .card-player:nth-child(5){width: 205px; margin: 0 auto;}

        .progress-player .progress-cards .card-player .card-image{height: 60%;}
        .progress-player .progress-cards .card-player .card-text{height: 40%;}
    }

}