.page-blog .blog-banner{
    display: flex;
    justify-content: center;
    width: 100%;
}
.page-blog .blog-banner img{height: 344px;}

.page-blog  .blog-post{
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: 50px;
}

.page-blog .blog-post .container{
    justify-content: flex-start;
    align-items: flex-start;
}

.page-blog .blog-title{font-size: 70px;}

.page-blog .blog-subtitle{
    font-size: 30px;
    color: #7c7b7b;
}

.page-blog .blog-text{
    text-align: center;
    font-size: 17px;
    color: #7c7b7b;
}

.page-blog  .blog-author{
    font-size: 20px;
    color: #7c7b7b;
}

.page-blog .blog-date{
    font-size: 17px;
    color: #7c7b7b;
}