.page-blog .blog-banner{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/779ae9dc3318503f9abc9ea6804b2f31d0fd84e807eb8a8851185cb2b6092af2._V_SX1080_.jpg');
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-blog  .blog-post{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.page-blog .blog-post .container{
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2%;
}

.page-blog .blog-title{font-size: 70px;}

.page-blog .blog-subtitle{
    font-size: 30px;
    color: #7c7b7b;
}

.page-blog .blog-text{
    text-align: justify;
    font-size: 17px;
    color: #7c7b7b;
}

.page-blog  .blog-author{
    font-size: 20px;
    color: #7c7b7b;
    margin-top: 16px;
}

.page-blog .blog-date{
    font-size: 17px;
    color: #7c7b7b;
}