.vehicles .vehicles-wrapper .grid-vehicle .image-car{
    width: 100%;
    height: 70%;
    background-image: url("../../../../images/icons/shop.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.vehicles .vehicles-wrapper .grid-vehicle .infos-car{height: 30%;}

.vehicles .vehicles-wrapper .grid-vehicle .infos-car .title-car p,
.vehicles .vehicles-wrapper .grid-vehicle .infos-car .subtitle-car p
{font-size: 2rem; color: white;}

.vehicles .vehicles-wrapper .grid-vehicle .infos-car .title-car{height: 60%;}
.vehicles .vehicles-wrapper .grid-vehicle .infos-car .subtitle-car{height: 40%;}

@media screen {
    @media screen and (max-width: 980px){
        .vehicles .vehicles-wrapper .grid-vehicle .infos-car .title-car p,
        .vehicles .vehicles-wrapper .grid-vehicle .infos-car .subtitle-car p
        {font-size: 1.5rem;}

        .vehicles .vehicles-wrapper .grid-vehicle{width: 200px; height: 200px;}
    }

    @media screen and (max-width: 690px){.vehicles .vehicles-wrapper .grid-vehicle{width: 220px; height: 220px;}}
    @media screen and (max-width: 520px){.vehicles .vehicles-wrapper .grid-vehicle{width: 250px; height: 250px;}}
}