.vehicles, .vehicles .vehicles-wrapper, .vehicles .vehicles-wrapper .grid-vehicle .infos-car .title-car,
.vehicles .vehicles-wrapper .grid-vehicle .infos-car .subtitle-car
{display: flex; align-items: center; justify-content: center;}

.vehicles{
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-top: 10px; 
    background-color: #242424;
}

.vehicles .vehicles-title
{width: 100%; margin: 20px 0; text-align: center; font-size: 3rem; color: white;}

.vehicles .vehicles-wrapper{
    display: grid;
    gap: 15px 15px;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas:"vehicle1 vehicle2 vehicle3"
                        "vehicle4 vehicle5 vehicle6";
    height: auto;
    padding-bottom: 25px;
}

#vehicle1{grid-area: vehicle1;}
#vehicle2{grid-area: vehicle2;}
#vehicle3{grid-area: vehicle3;}
#vehicle4{grid-area: vehicle4;}
#vehicle5{grid-area: vehicle5;}
#vehicle6{grid-area: vehicle6;}

.vehicles .vehicles-wrapper .grid-vehicle{width: 300px; height: 300px; border: 2px solid white;}

@media screen {
    @media screen and (max-width: 980px)
    {.vehicles .vehicles-wrapper{grid-template-columns: 200px;}}

    @media screen and (max-width: 690px){
        .vehicles .vehicles-wrapper{
            grid-template-columns: 220px;
            grid-template-areas:"vehicle1 vehicle2" 
                                "vehicle3 vehicle4" 
                                "vehicle5 vehicle6";
        }
    }

    @media screen and (max-width: 520px){
        .vehicles .vehicles-wrapper{
            gap: 5px;
            grid-template-columns: 250px;
            grid-template-areas:"vehicle1" "vehicle2" 
                                "vehicle3" "vehicle4" 
                                "vehicle5" "vehicle6";
        }
    }
}