.header-sticky, .data-points, .header-login{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #242424;
    z-index: 5;
}

.header-sticky .container{flex-direction: row; justify-content: space-between; height: 100%;}


.data-points{width: 35%; height: 100%;}
.header-login{justify-content: flex-end; width: 25%; height: 100%;}

@media screen {
    @media screen and (max-width: 980px){.data-points{width: 60%;}}

    @media screen and (max-width: 690px){
        .header-sticky .container{
            flex-direction: column;
            justify-content: center;
        }

        .data-points{width: 95%;}
        .header-login{justify-content: center; width: 100%;}
    }

    @media screen and (max-width: 480px){
        .header-sticky{height: 130px;}
        .data-points{flex-direction: column;}

    }
}