.content-login{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 150px;
    height: 50%;
    margin-right: 4%;
    cursor: pointer;
}

.name-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.name-login p{font-size: 1.3rem; color: white;}
.arrow-login{width: 20%; height: 100%;}

@media screen {

    @media screen and (max-width: 690px){
        .content-login{margin-right: 0;}

    }
}