.about-banner {
    background-image: url("../../../images/about/banner_about.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-info {
    background-color: whitesmoke;
    padding: 110px 20px;
}
.about-text {
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
}
.about-subtext {
    color: gray;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

@media screen and (max-width:768px) {
    .about-text{
        font-size: 30px;
    }
    .about-subtext{
        font-size: 20px;
    }
}
