footer, .footer-top, .footer-top .footer-title, .footer-top .social-media, .footer-center{display: flex; flex-direction: column; align-items: center; justify-content: center;}

footer{width: 100%; height: 300px; background-color: #1a1a1a;}

footer .container{flex-direction: column;}

footer .footer-top{flex-direction: row; width: 100%; height: 20%;}

.footer-top .title{
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

.footer-top .footer-title h2{
    font-family: 'Urban'; 
    font-size: 1.9rem; 
    letter-spacing: 2px;
    color: #fff;
}

.footer-top .social-media{
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.footer-top .social-media a{margin: 0 5px;}
.footer-top .social-media img{width: 20px; height: 20px;}

footer .footer-center{
    flex-direction: row;
    width: 100%; 
    height: 80%;
    margin-top: 15px;
}

footer h3{font-size: 1.8rem; font-weight: lighter; color: #fff;}

footer .footer-center .footer-target{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
footer .footer-center .footer-target a{margin: 5px 0;}
footer .footer-center .footer-target p{font-size: 1.8rem; color: #5a5a5a;}

.footer-center .links-site, 
.footer-center .comunication,
.footer-center .about-us
{width: 33%; height: 100%;}


footer .footer-bottom{width: 100%; height: 10%;}