footer{display: flex; flex-direction: column; align-items: center; justify-content: center;}

footer{width: 100%; height: 180px; background-color: #7289da;}

footer img{width: 120px;}
footer p{font-size: 1.8rem; letter-spacing: 2px; color: #fff;}


@media screen {
    @media screen and (max-width: 520px){
        footer img{width: 80px;}
    }

    @media screen and (max-width: 340px){
        footer p{font-size: 1.3rem;}
    }
}