.section-profile{
    height: 550px;
    width: 100%;
}

.profile-wallpaper{
    height: 50%;
    width: 100%;
    background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/304930/ss_db70f87c3635d930580b1365101952a72a14bd4e.1920x1080.jpg?t=1642457764");
}

.profile-info{
    height: 50%;
    width: 100%;
    background-color: white;
}

.profile-text-wrapper{
    text-align: center;
}

.infos-profile-name{
    font-size: 45px;
}

.infos-profile-job{
    font-size: 30px;
    color: #9c9c9c;
}

.user-info{
    display: flex;
    justify-content: center;
    text-align: center;
;
}

.info-wrapper{
    padding: 50px;
}

