.about-player .nickname, .about-player .wallet-player, .wallet-player .wallet-mp, .wallet-player .wallet-rp, .about-player .wallet-player .wallet-mp .valor-mp{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.infos-profile{
    width: 95%;
    height: 500px;
    margin-top: 25px;
    border: 2px solid rgba(128, 128, 128, 0.288);
}

.infos-profile .photo-profile{position: relative; top: 30%; left: 10%;}

.infos-profile .photo-profile .photo-player{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.infos-profile .photo-profile .photo-player .photo-content{
    width: 100%;
    height: 100%;
    background-image: url("../../../../images/icons/profile.png");
    background-size: cover;
}

.infos-profile .bg-profile{
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.103);
}

@media screen {
    @media screen and (max-width: 690px){
        .infos-profile .photo-profile{top: 35%; left: 10%;}
        .infos-profile .photo-profile .photo-player{width: 150px; height: 150px;}
    }

    @media screen and (max-width: 520px){
        .infos-profile{height: 800px;}
        .infos-profile .bg-profile{height: 30%;}

        .container .infos-profile .photo-profile{top: 20%; left: 30%;}
    }
}

