.page-profile, .container{display: flex; align-items: center; justify-content: center;}

.page-profile{flex-direction: column; min-width: 100%;}

.container{width: 100%; max-width: 1480px; height: inherit; flex-direction: column;}
