.banner,.banner .banner-top, .search-bar-wrapper, .banner-center .vehicle-name, .banner-center .vehicle-img, .banner .container .banner-bottom{display: flex; justify-content: center; align-items: center;}

.banner{
    flex-direction: row; 
    width: 100%;
    height: 1050px;
    background-image: url("../../../images/vehicle/Wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner .container .banner-top{
    flex-direction: row;
    width: 100%; 
    height: 20%;
    padding: 15px 20px;
}

.banner .container .banner-top .content-button:first-child{
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%; 
    height: 100%;
}

.search-bar-wrapper{align-items: flex-end; width: 80%; height: 100%;}

.banner .container .banner-top .content-button:last-child{
    justify-content: flex-end;
    align-items: flex-start;
    width: 10%; 
    height: 100%;
}

.banner .container .banner-center{align-items: flex-end; width: 100%; height: 65%;}
.banner .container .banner-center .vehicle-name{width: 100%; height: 25%;}

.banner .container .banner-center .vehicle-name p{font-size: 4.2rem; color: white;}
.banner .container .banner-center .vehicle-img{width: 100%; height: 60%;}
.banner .container .banner-center .vehicle-img img{width: 80%; max-width: 700px;} 

.banner .container .banner-bottom{justify-content: flex-start; width: 100%; height: 15%;}

@media screen {
    @media screen and (max-width: 580px){
        .banner {height: 880px;}
    }
    @media screen and (max-width: 380px){
        .banner {height: 680px;}
        .banner .container .banner-top{padding: 10px;}
        .banner .container .banner-center{height: 55%;}
        .banner .container .banner-bottom{height: 25%;}
    }

}