.highlight{
    color: #0072cf;
    font-weight: 600;
}
.members-info {
    background-color: whitesmoke;
    padding: 50px;
}

.members-text {
    text-align: center;
    font-size: 40px;
    
}

.members-subtext {
    color: gray;
    text-align: center;
    font-size: 30px;
}