.section-buy-itens{
    background-color: #e6e6e6;
    height: 550px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}
.section-text{
    color: #666666;
    font-size: 40px;
    max-width: 400px;
}
#text-botton{
    font-size: 25px;
    color: #bebebe;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
#shop{
    color: #0072cf;
}
.storage-header{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.storage-title{
    font-size: 50px;
    font-weight: bold;
    color: #1A1A1A;
}

.storage-info-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: #B3B3B3;
    margin: 10px;
    
}

.storage-wrapper{
    margin: 10px 60px;
}

.storage-value{
    color: #297CDB;
    font-weight: 600;
}
