.storage-header{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.storage-title{
    font-size: 50px;
    font-weight: bold;
    color: #1A1A1A;
}

.storage-info-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: #B3B3B3;
    margin: 10px;
    
}

.storage-wrapper{
    margin: 10px 60px;
}

.storage-value{
    color: #297CDB;
    font-weight: 600;
}
