.storage-header{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.storage-title{
    font-size: 50px;
    font-weight: bold;
    color: #1A1A1A;
}
.storage-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: #B3B3B3;
    margin: 10px;
}
.storage-wrapper{
    margin: 10px 60px;
}
.section-storage{
    background-color: #e6e6e6;
    height: 550px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}
.section-text{
    color: #666666;
    font-size: 40px;
    max-width: 400px;
}
.description{
    font-size: 25px;
    color: #b3b3b3;
}
.text-bottom{
    position: absolute;
    bottom: 0;
    padding: 20px;
}
