html{
    /* font-size: 100%; */
}
*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    vertical-align:baseline;
    list-style:none;
    font-family: Bebas Neue;
    text-decoration: none;
    user-select: none;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 62.5%;
}

@font-face {
    font-family: 'Aveline';
    src: url('../src/fonts/Aveline Script.ttf');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../src/fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Billy Ohio';
    src: url('../src/fonts/BILLY_OHIO.OTF');
}
@font-face {
    font-family: 'Urban';
    src: url('../src/fonts/URBANJUNGLEDEMO.OTF');
}