.card-news{display: flex; justify-content: center; align-items: center;}

.card-news{
    flex-direction: column;
    width: 300px; 
    height: 230px;
    margin: 10px 0;
    border-radius: 10px; 
    box-shadow: 0 0 10px 0px #1a1a1a;
}

.card-news .info-news{
    width: 100%;
    height: 50%;
}

.card-news .info-news h3{
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

.card-news .info-news p{
    padding: 0 20px;
    text-align: justify;
}

.card-news .image-news{
    width: 100%;
    height: 50%;
}

/*CONFIGS ELASTIC CAROUSEL*/

.kDAHyg,.eEojdq{
    /*estilizando os botoes*/
    width: 30px; 
    height: 30px;
    min-width: 0;
    line-height: 30px;
}

.eEojdq:hover:enabled, .eEojdq:focus:enabled{
    background-color: #297CDB;
    color: #fff;
    box-shadow: none;
}

.dGeqsn{
    background-color: #fff; 
    box-shadow: 0 0 2px rgb(80, 80, 80);
}

.jVhXZM{
    background-color: #ccc;
    color: #fff;
    box-shadow: none;
}

.jVhXZM:hover, .jVhXZM:focus,
.dGeqsn:hover, .dGeqsn:focus{
    box-shadow: 0 0 2px 0 #1a1a1a;
}