.page-premium .premium-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
    min-height: 200px;
    background-color: #1a1a1a;
}

.page-premium .image-wrapper{max-width: 500px; margin: 0 6%;}
.page-premium .premium-image{width: 100%;}

/*****************************REWARDS****************************/
.page-premium .rewards-container{width: 100%; height: auto; padding: 32px 0;}

.page-premium  .rewards-title{
    text-align: center; 
    font-size: 48px; 
    font-weight: bolder; 
    color: #4d4d4d;
}

.page-premium .rewards-subtitle{
    max-width: 412px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2%;
    font-size: 24px;
    color: #ccc;
}

.page-premium .rewards-img-wrapper{text-align: center; max-width: 768px; margin: auto;}
.page-premium .rewards-img-wrapper img{width: 85%;}

/*****************************BENEFITS****************************/
.page-premium .benefits{width: 100%; height:  750px;}

.page-premium .benefits .text:first-child{background-color: #f0f0f0;}
.page-premium .benefits .text{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: calc(33% + 2.5px); 
    /*essa foi nice, adiciona 2.5px pra justificar a 
    conta de 750/3 que sobra 2.5px para cada um dos 3 */
}
.page-premium .benefits .text:last-child{background-color: #1a1a1a;}

.page-premium .title{
    padding: 0 2%;
    margin: 0 auto;
    font-weight: bolder; 
    text-align: center;
    font-size: 48px;
    color: #4d4d4d;
}
.page-premium .subtitle{
    max-width: 412px;
    padding: 0 2%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: #b3b3b3;
}

.page-premium .benefits .text:last-child p:first-child{color: #ff6600;}
.page-premium .benefits .text:last-child p:last-child{max-width: 580px;}

/*****************************CARDS-PREMIUM****************************/
.page-premium .cards-premium{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #1a1a1a;
}
.page-premium .cards-premium .cards-premium-title h2{
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
    font-family: 'Urban';
    font-size: 3.5rem;
    font-weight: 300;
    color: white;
}

/*CLASSE CONTROLADORA DOS CARDS DO CONTAINER*/
.page-premium .cards-premium-container{display: flex; justify-content: center; flex-wrap: wrap; margin: 15px 0 30px 0;}

.page-premium .cards-premium .card{margin: 0 20px; box-shadow: none;}
.page-premium .cards-premium  .card-image img{width: 90%;}
.page-premium .cards-premium .card .card-infos{background-color: #fff;}
.page-premium .cards-premium .card-infos 
p:first-child{font-size: 1.2rem;}
.page-premium .cards-premium .card-infos 
p:last-child{font-size: 2.1rem;}

@media screen {
    @media screen and (max-width: 780px){
        .page-premium .cards-premium .card-infos 
        p:first-child{font-size: 1rem;}
        .page-premium .cards-premium .card-infos 
        p:last-child{font-size: 1.8rem;}
    }
    @media screen and (max-width: 480px){
        .page-premium .benefits .title{font-size: 36px;}
        .page-premium .benefits .subtitle{font-size: 18px;}
        .page-premium .cards-premium .cards-premium-title h2{font-size: 2.5rem;}
    }

    @media screen and (max-width: 320px){
        .page-premium  .rewards-title{font-size: 42px;}
        .page-premium .rewards-subtitle{font-size: 18px;}
        .page-premium .rewards-img-wrapper img{width: 95%;}
    }
    
}