.card, .card-image, .card-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 230px;
    height: 280px;
    margin: 10px 0; /*essa aqui foi para os cards la no page product, nice*/
    border-radius: 15px;
    box-shadow: 0 0 6px 5px #efefef;
}

.card:hover{border: 2px solid #000;}

.card-image{width: 100%; height: 70%;}
.card-image img{width: 100%; padding: 0 5%;}

.card-infos{
    text-align: center;
    width: 90%;
    height: 30%;
    border-top: 1px solid grey;
    border-radius: 0 0 15px 15px;
}

.card-infos p:first-child{font-size: 1.8rem; color: black;}
.card-infos p:last-child{font-size: 2.5rem; color: #a18f2a;}

@media screen {
    @media screen and (max-width: 780px){
        .card{width: 200px; height: 250px;}

        .card-infos p:first-child{font-size: 1.5rem;}
        .card-infos p:last-child{font-size: 2.2rem;}
    }
    

    @media screen and (max-width: 300px){
        .page-product .products .card{width: 160px; height: 210px;}
    }
}